@charset "UTF-8";



body {
    background-color: #f8f8ec;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    color: #0a5483;
}

h1#principal {
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    color:#FAD41B; 
}



.basico{
    color: #aedd2b
}

.intermediario {
    color: #0051ff
}

.avancado {
    color: #ff0000
}